.p1 {
    background-image: url('img/h_img.jpg');
    background-size: cover;
    height: 700px;
}

.p1 p {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 35px;
    margin-right: -10px;
}
#logo {
    margin-left: 600px;
    margin-top: 200px;
}

.font {
    font-size: 10px;
    text-align: center;
    color: white;
    margin-top: -50px;
}

#mouse {
    margin-left: 600px;
    padding-top: 153px;
}


.studio {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 30px;
}

.about p {
    text-align: center;
    font-size: 18px;
}

.about h1 {
    text-align: center;
}

.service {
    margin-top: 0px;
    color: white;
    text-align: center;
    height: 400px;
    background-image: url(img/s_image.jpg);
}

.service p {
    margin-top: 10px;
}

.sr {
    padding-top: 100px;
}

.row h1 {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.row p {
    margin-top: 50px;
    /* background-color: red; */
}

.col-md-4 {
    padding-left: 180px;
}
.port h1 {
    font-weight: bold;
    text-align: center;
}

.port {
    height: 700px;
    margin-left: 100px;
    padding-top: 80px;
    margin-right: 2px;
}

.port img {
    padding-left: 10px;
}
#contact {
    background-image: url(img/c_image.jpg);
    height: 600px;
}

#contact h1 {
    text-align: center;
    font-weight: bold;
    color: white;
}



.col-md-6 {
    background-color: transparent;
}

#txt {
    background: transparent;
    margin-left: 200px;
    color: white;
}
.footer {
    margin-left: 400px;
    margin-top: 30px;
}
footer p {
    margin-left: 450px;
}

#last {
    text-align: center;
    margin-top: 20px;
}

input[type="text"] {
    /* width:80%; */
    color: white;
    background: transparent;
}

#design {
    display: none;
}

.alignDesign {
    text-align: center;
    /* padding-top: -250px; */
}

.boldDesign {
    font-weight: bold;
    text-align: center;
}
#development{
    display: none;

}
.alignDevelopment{
    text-align: center;
}
.boldDevelopment{
    font-weight: bold;
    text-align: center;
}
#product{
    display: none;
}
.boldProduct{
    font-weight: bold;
    text-align: center;
}
.alignProduct{
    text-align: center;
}











