.p1 {
    background-image: url('img/h_img.jpg');
    background-size: cover;
    height: 700px;
}

.p1 p {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 35px;
    margin-right: -10px;
}
#logo {
    margin-left: 600px;
    margin-top: 200px;
}

.font {
    font-size: 10px;
    text-align: center;
    color: white;
    margin-top: -50px;
}

#mouse {
    margin-left: 600px;
    padding-top: 153px;
}


.studio {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 30px;
}

.about p {
    text-align: center;
    font-size: 18px;
}

.about h1 {
    text-align: center;
}
